
:root {
  --pink1: #fad9e6;
  --pink2: #e4a3c5;
  --green: #5f7464;

}



/*HeroSection Starts*/



video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }


 

  
  .control--container, .hero-container, .team-container {
    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .team-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }



   .hero-container > h, .team-container > h {
    color: #e2c57bb3;
    font-size: 80px;
    margin-top: -100px;
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }

  .meet--team > h{
    color: #e4aec5;
    opacity: 0.7;
    margin-top: 50px;
    font-size: 80px;
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }


  .team-container > h {
    color: lightpink;
    opacity: 0.7;
    margin-top: 50px;
  }
  
  .hero-container > p{
    margin-top: 8px;
    color: #d5af4fb3;
    font-size: 32px;
    font-family: 'Arial';
  } 
  .team-container > p{
    margin-top: 8px;
    font-size: 50px;
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    color:rgb(220, 142, 195)
  }


  .meet--team{
    transition: transform 0.5s;
  }

  .meet--team:hover{
    transform: scale(1.1);
  }






  /*HeroSection ends*/

  

  /*Navbar starts here*/
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background:  rgba(95, 116, 100, 0.5);
    box-shadow: 0px 5px 80px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }


  .teamlogo > img {
    width: 50px;
    border-radius:25px ;
  }

  .navbar--items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 43px;
    text-decoration: none;
    margin-right: 100px;
  }
  .navbar--items ul > li > a {
    text-decoration: none;
  }
  /* Navbar Content */
  .navbar--content ,.sidebar--content{
    color: #fad9e6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
  }
  .navbar--active-content,.sidebar--active-content {
    color: var(--pink2);
  }

  .sidebar > ul{
    list-style: none;
    display: flex;
    align-items: stretch;
    /* justify-content: space-between; */
    gap: 40px;
    text-decoration: none;
    flex-direction: column;
  
  }



  /*Navbar&& sidebar ends*/


  .nav__hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  
  .nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color:var(--pink1);
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }


  
@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(95, 116, 100, 0.5);
    top: -30rem;
    left: 0;
    width: 100%;
    opacity: 0.85;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}

/* Responsive Screens Ends*/



/*Team section starts*/

.teams--section {
  display: flex;
  padding: 149.33px 85.33px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 106.667px;
}
.teams--section--container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 42.6px;
  grid-template-columns: repeat(4, 1fr);
}


.teams--section--card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 10.6px; 
  min-height: 250px;
  background-color: rgba(167, 118, 61,0.5);
  border-top: 4px solid rgba(211, 183, 150, 0.8);
}
.teams--section--card:hover {
  border-bottom: 2px solid rgba(211, 183, 150, 0.8);
}
.teams--section--card:hover .team--section--description {
  color: white;
}


.teams--section--card > img {
  width: 100px;
  height: 135px;
  padding: 13.3px;
  justify-content: center;
  align-items: center;
  gap: 13.3px;
  border-radius: 40px;

}


.teams--section--img {
  /* display: flex; */
  width: 20px;
  height: auto;
  /* height: auto;
  padding: 13.3px;
  justify-content: center;
  align-items: center;
  gap: 13.3px;
  border-radius: 10.6px;
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1); */
}
.teams--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  font-family: "Playwrite BE VLG", cursive;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: normal;

} 


/*Team section ends*/



/*control starts*/


.control--content > p{
  
  margin-top: 100px;
}

.control--main--container{
  padding-top: 0px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  /* margin-top: -500px; */
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}


.control--container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.data-display-box, .rover{
  padding: 75px 20px;
  line-height: 5px;
  flex-direction: column;
  gap: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid rgba(129, 132, 174,0.8);
  border-radius: 30px;
  margin-right: 40px;
}
.data-display-box > p{
  color:rgb(67, 203, 224);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 50px;
  margin-top: 30px;
  justify-content: center;
  font-size: 20px;
 
}




.data-display-box > div{
  display: flex;
  justify-content: center;
 
  width: 100%;
 
}

.data-display-box > div > h{
  color:rgb(168, 171, 208);
  margin-bottom: 50px;
  font-size:25px;
  font-family:sans-serif
}


.control--robotics--container
{
  padding: 32px;
  flex-direction: column;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-left: 40px;
 
}


.rover{
  transition: transform 0.5s;
  padding: 5px 25px;
 
  gap:20px
}



.rover:hover{
  transform: scale(1.3);
}


/*control end*/

/*interaction starts*/
 
.arrow--container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 20px 20px 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}

.arrow2--container{
  grid-template-columns: repeat(2, 1fr);
  /* border: 2px solid white; */
  display: grid;
  padding: 20px 20px 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.arrow2--col{
  display: grid;
  grid-template-rows: repeat(2,1r);
  align-items: center;
  justify-content: center;

}

.arrow2--col > i{
  color: white;
}

.arrow, .circle{
  font-size: 80px;
  box-shadow: 0 1px 2px 0 rgba(96, 124, 169, 0.95);
  transition: opacity 0.25s;
}

.arm--arrow{
  font-size: 100px;
  color:white;
  transition: opacity 0.25s;
  box-shadow: 0 1px 2px 0 rgba(96, 124, 169, 0.95);
}
.arm--arrow:hover{
  opacity: 0.5;
}

.arrow:hover, .circle:hover{
  opacity: 0.5;
}

.rover--firstrow, .rover--thirdrow{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

#Rover{
  display: grid;
  flex-direction: co;
  /* border: 2px solid white; */
 
}

.interaction--container{
  display: grid;
  grid-template-columns: 4fr 3fr 5fr;
  box-shadow: 0 -2px 0px 0 rgb(112, 107, 107);

}

.live--update--container{
  padding: 30px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.live--update--container > p{
  color: var(--pink2);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}


/*interaction ends*/


/*chatbox starts*/

.chatbox--container{
  width: 100%;
  height: 100vh;
  padding-top: 84px;
  display: flex;
  /* flex-direction: column; */
  border-bottom: #e4a3c5 solid 1px;;
}

.sidebar{
  height: 100vh;
  position: fixed;
  width: 125px;
  padding-top: 60px;


  background-color: var(--green);
  /* opacity: 0.95; */
  top: 84px;
  left: 0;
  bottom: 0;
}

#general{
  width: 106%;
  /* padding-left: 100px; */
  display: flex;
  margin-right: 0;
  margin-left: -20px;
  z-index: -100;
}


.dev--section--picture1--container{
  display: flex;

}

.dev--section--picture2--container{
  display: flex;

}

.dev--section--picture1--container > img {
  z-index: -100;

}


.dev--web--title--container{
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

/* .dev--section--video{
  width: 400px;
  height: auto;
  border: 2px solid blue;
} */
/*chatbox ends*/

